* {
  margin: 0;
  padding: 0;
}

/* this is for my header layout and style */

main {
  background-color: black;
}
.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #192140;
}
.logo {
  color: #dcf10d;
  font-size: 24px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2.4px;
}
.nav {
  display: flex;
  gap: 30px;
  width: 300px;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.nav a:hover {
  color: #dcf10d;
}
.home:visited {
  color: #dcf10d;
}

/* main layout and style */
