* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5d5d61;
}

.mainContainer {
  display: flex;
  justify-content: center;
}
/* this is for my header layout and style */

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #192140;
}
.logo {
  color: #dcf10d;
  font-size: 50px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2.4px;
}
.nav {
  display: flex;
  gap: 30px;
  width: 300px;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
nav a:hover {
  color: #dcf10d;
  transition: 0.5s;
}

/* main layout and style ContainerMenu */

.container {
  display: flex;
}

.containerMenu {
  background-color: #192140;
  margin: 20px 10px 20px 20px;
  height: 500px;
  width: 250px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navigatorMenu {
  color: #9d9db5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  margin: 20px 10px;
}

.line {
  margin-left: 100px;
  width: 50px;
  height: 1px;
  background-color: #9d9db5;
}

/* dashboard container style and layout */

.dashboard {
  background-color: #192140;
  opacity: 90%;
  margin: 20px 20px 20px 10px;
  height: 500px;
  width: 1000px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  padding: 20px;
  gap: 15px;
}
.itemBox {
  background-color: #9d9db5;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.itemBox:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.itemNumber {
  font-size: 50px;
}
.itemBoard {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemBoard p {
  color: #fff;
}
/* footer  */
.myFooter {
  height: 70px;
  display: flex;
  color: #fff;
  justify-content: space-around;
  background-color: #192140;
}
