* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5d5d61;
  font-family: "Inter", sans-serif;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

/* Header layout and style */
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #192140;
}

.logo {
  color: #dcf10d;
  font-size: 50px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2.4px;
}

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

nav a:hover {
  color: #dcf10d;
}

/* Main layout and style ContainerMenu */
.container {
  display: flex;
}

.containerMenu {
  background-color: #192140;
  margin: 20px 10px 20px 20px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigatorMenu {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  margin: 20px 10px;
  transition: color 0.3s;
}

.navBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navBox:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Dashboard container style and layout */
.dashboard {
  background-color: #192140;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  padding: 20px;
  gap: 15px;
}

.itemBox {
  background-color: #9d9db5;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.itemBox:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.itemNumber {
  font-size: 50px;
}

.itemBoard {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemBoard p {
  color: #fff;
}

/* Footer */
.myFooter {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #192140;
  gap: 5px;
}

.myFooter div {
  color: #dcf10d;
}

/* Burger menu styles */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu:checked + .containerMenu .navMenu {
  display: flex;
}

.burger-menu:checked + .containerMenu .navBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #192140;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .navBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .navMenu {
    flex-direction: column;
  }

  .navigatorMenu {
    margin-bottom: 10px;
  }

  .containerMenu {
    width: 100%;
    margin: 0;
  }

  .dashboard {
    width: 100%;
    margin: 0;
  }

  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 40px;
  }

  .navigatorMenu {
    font-size: 14px;
  }

  .itemNumber {
    font-size: 40px;
  }
}
